<div class="container">
  <table class="table table-bordered table-striped text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product._id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price | currency: "USD":"symbol":"1.1-2"}}</td>
        <td><button class="btn btn-danger" type="button" (click)="delete(product._id)">Delete</button></td>
        <td><button class="btn btn-info" type="button" (click)="update(product._id)">Update</button></td>
      </tr>
    </tbody>
  </table>
  <div class="jumbotron">
    <button class="btn btn-success" type="button" (click)="addToProducts()">Add Product</button>
  </div>
</div>

<div class="productForm card mx-auto" *ngIf="editProduct">
  <div class="card-header text-center">
    <h3>Edit Details</h3>
  </div>
  <div class="card-body">
    <app-product-form [product]="formProduct" (onProduct)="handleUpdate($event)"></app-product-form>
  </div>
</div>

<div class="productForm card mx-auto" *ngIf="addProduct">
  <div class="card-header text-center">
    <h3>Add Product</h3>
  </div>
  <div class="card-body">
    <app-add-product (onAdd)="handleAdd($event)"></app-add-product>
  </div>
</div>
